*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat';
    text-decoration: none;
}

body{
    background-image: linear-gradient(rgba(244, 80, 135, 0.5), rgba(145, 152, 229, 0.5));
    background-size: cover;
    background-repeat: inherit;
}

/* ---- Header ---- */
.section-header{
    background-color: rgba(26, 26, 26, 0.568);
    transition: all 500ms ease;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15mm;
}

.scroll{
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 2rem black;

}

.section-header a{
    color: white;
    font-weight: bolder;
}

#check{
    visibility: hidden;
}


@media screen and (min-width: 1025px){
    header{
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;
        width: 1024px;
        margin: auto;
        height: 15mm
    }
    
    .contenedor-logo-header{
        font-size: 1.7rem;
        min-width: 6.7rem;
        margin: 0 10mm;
    }
    
    .contenedor-nav-header{
        display: flex;
        margin: 0 10mm;
    }
    
    .contenedor-logo-menu{
        visibility: hidden;
    }

    .contenedor-lista-header{
        display: flex;
        justify-content: end;
    }
    
    .contenedor-links-lista{
        display: flex;
        justify-content: center;
        border-radius: 0.9rem;
        width: 5rem;
        margin-left: 1.7rem;
        padding: 0.5rem;
    }
    
    .contenedor-links-lista:hover{
        background-color: rgb(105, 31, 95);
    }
    
}

/* ---- Header a menos de 1024px de ancho ---- */

@media screen and (max-width: 1024px) {
    header{
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;
        max-width: 1024px;
        margin: auto;
        height: 25mm;
    }

    .contenedor-logo-header{
        font-size: 1.7rem;
        min-width: 6.7rem;
        margin: 0 10mm;
    }
    
    .contenedor-nav-header{
        position: absolute;
        border-bottom-left-radius: 2rem;
        min-width: 40mm;
        width: 40%;
        top: 25mm;
        left: 150%;
        background-color: rgb(26,26,26);
        transition: all 500ms ease;
    }
    
    #check:checked ~ .contenedor-nav-header{
        top: 25mm;
        left: 60%;
    }

    .contenedor-logo-menu{
        visibility: visible;
        margin: 0 10mm;
    }

    .contenedor-lista-header{
        display: block;
    }

    .contenedor-links-lista{
        display: flex;
        justify-content: center;
        border-radius: 0.9rem;
        width: 5rem;
        margin: 1rem auto;
        padding: 0.5rem;
    }

    .contenedor-links-lista:hover{
        background-color: rgb(105, 31, 95);
    }

}



/* ---- Main ---- */
main{
    margin: 25mm auto;
    padding: 1rem;
    width: 85%;
    max-width: 1024px;
}

